<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SBDUi</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="userdetails">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> View Users
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="businessdetails">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Business Details
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="surveydetails">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Survey Details
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="master">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Master
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="surveymaster">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Survey
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="addquestion">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Question
            </NavLink>
        </div>
    

    </nav>
</div>

