@page "/survey/{SurveyId}"
@rendermode InteractiveServer

<h3>Create Survey</h3>

<button @onclick="AddQuestion">Add Question</button>

@for (int counter = 0;counter<questions.Count(); counter++ )
{ 

    <div>
            <Label>Question @(counter+1)</Label>
            <Question SurveyId="@SurveyId"></Question>
        </div>
}


@code {
    [Parameter] public string SurveyId { get; set; }

    private List<EntQues> questions = new List<EntQues>();

    private void AddQuestion()
    {
        questions.Add(new EntQues());
    }

    private void RemoveQuestion(EntQues question)
    {
        questions.Remove(question);
    }

}
