@page "/mcq"
@rendermode InteractiveServer
<h3>MCQS</h3>

<button @onclick="addOption">Add option</button>

@foreach (var option in optionsList)
{
    <input type="text" placeholder="@option" @bind="optionsList[optionsList.IndexOf(option)]" />
}

@code {
    private List<string> optionsList = new List<string>();
    private int counter = 1;

    private void addOption()
    {
        optionsList.Add("");
        counter++;
    }
}
