@page "/mcq"
<h3>MCQS</h3>

<button>

</button>

<input type="text" placeholder="enter question" />
<input type="checkbox" />Question 1
<input type="checkbox" />Question 2
<input type="checkbox" />Question 3
<input type="checkbox" />Question 4

@code {

}
