@page "/addquestion"


<EditForm Model="entq" OnSubmit="Save" FormName="question">
    <input type="textbox" name="name" placeholder="Enter question text" @bind-value="entq.QuestionText" />
   @* // <input type="text" name="name" placeholder="Enter question text" @bind-value="entq.QuestionType" /> *@
    <select @bind="entq.QuestionType">
        <option >Please Select Input Type</option>
        <option value="MCQ">MCQ </option>
        <option value="Rating">Rating</option>
        <option value="Text">Text</option>
    </select>

    <button type="submit">Save</button>
</EditForm>

@code {
    EntQues entq { get; set; } = new EntQues();
    public void Save()
    {
        
    }
    
       
    
}